In [4]:
import pandas as pd
import re
import twint

In [ ]:
# USING WEB SCRAPPING 

#scrap 

c = twint.Config()

#for k in ky:
c.Search = "ISIS"
c.Limit= 300
c.Min_likes = 3
c.Custom["tweet"] = ["id", "username","tweet"]
c.Output="10.json"
c.Store_json=True

c.Hide_output = True

twint.run.Search(c)

In [5]:
data = pd.read_csv (r'1.csv')
print (data)

                      id      conversation_id  \
0    1445227479321382916  1445227479321382916
1    1445227452788269057  1445100293805445122
2    1445226349514297346  1445226349514297346
3    1445225572813135873  1445225572813135873
4    1445225278913929220  1445224054898704385
..                   ...                  ...
295  1445174357144195074  1445174357144195074
296  1445174145780695043  1445174145780695043
297  1445173910710980609  1444691764028248069
298  1445173731505152002  1445173731505152002
299  1445173729907167233  1445173729907167233

                                  created_at        date      time  timezone  \
0    2021-10-05 08:50:56 India Standard Time  2021-10-05  08:50:56       530
1    2021-10-05 08:50:50 India Standard Time  2021-10-05  08:50:50       530
2    2021-10-05 08:46:27 India Standard Time  2021-10-05  08:46:27       530
3    2021-10-05 08:43:22 India Standard Time  2021-10-05  08:43:22       530
4    2021-10-05 08:42:12 India Standard Time  2021-10-05  08:42:12       530
..                                       ...         ...       ...       ...
295  2021-10-05 05:19:51 India Standard Time  2021-10-05  05:19:51       530
296  2021-10-05 05:19:01 India Standard Time  2021-10-05  05:19:01       530
297  2021-10-05 05:18:05 India Standard Time  2021-10-05  05:18:05       530
298  2021-10-05 05:17:22 India Standard Time  2021-10-05  05:17:22       530
299  2021-10-05 05:17:21 India Standard Time  2021-10-05  05:17:21       530

                 user_id         username                        name  place  \
0              413492760  asterzephyrisis        AntiDisplacementCoup    NaN
1    1279603083056680963      isis_pastel                       ùêàùê¨ùê¢üçüüéÉ    NaN
2    1430905165209432069    afghan_voice_        Voice of Afghanistan    NaN
3              911489138        isisdali_                      isis ü§ç    NaN
4               17455999    isis_nocturne            Isis M. Nocturne    NaN
..                   ...              ...                         ...    ...
295           2950033490        conan_idn  Damai Indonesiaku üáÆüá©üáµüá∏üáπüá∑üá≤üáæ    NaN
296            299853737     claudia_isis                     CLAUDIA    NaN
297  1399887258409390084       isis_ebony                  EbonyüíãIsis    NaN
298   732281142662074368    itsirisbitch_                   Iris Isis    NaN
299   941042441418887168     isisromero__                         üßöüèº‚ú®    NaN

     ... geo source user_rt_id user_rt retweet_id  \
0    ... NaN    NaN        NaN     NaN        NaN
1    ... NaN    NaN        NaN     NaN        NaN
2    ... NaN    NaN        NaN     NaN        NaN
3    ... NaN    NaN        NaN     NaN        NaN
4    ... NaN    NaN        NaN     NaN        NaN
..   ...  ..    ...        ...     ...        ...
295  ... NaN    NaN        NaN     NaN        NaN
296  ... NaN    NaN        NaN     NaN        NaN
297  ... NaN    NaN        NaN     NaN        NaN
298  ... NaN    NaN        NaN     NaN        NaN
299  ... NaN    NaN        NaN     NaN        NaN

                                              reply_to  retweet_date  \
0                                                   []           NaN
1    [{'screen_name': '__dianap__', 'name': 'D I Œõ ...           NaN
2                                                   []           NaN
3                                                   []           NaN
4    [{'screen_name': 'Mediaite', 'name': 'Mediaite...           NaN
..                                                 ...           ...
295                                                 []           NaN
296                                                 []           NaN
297  [{'screen_name': 'TXLinMelendez', 'name': 'LMe...           NaN
298                                                 []           NaN
299                                                 []           NaN

     translate trans_src trans_dest
0          NaN       NaN        NaN
1          NaN       NaN        NaN
2          NaN       NaN        NaN
3          NaN       NaN        NaN
4          NaN       NaN        NaN
..         ...       ...        ...
295        NaN       NaN        NaN
296        NaN       NaN        NaN
297        NaN       NaN        NaN
298        NaN       NaN        NaN
299        NaN       NaN        NaN

[300 rows x 36 columns]

In [6]:
data['tweet'] = data['tweet'].apply(lambda x: x.lower())
data['tweet'] = data['tweet'].apply(lambda x: " ".join (re.sub(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9+._-]+\.[a-zA-Z0-9_-]+)'," ",x).split()))
data['tweet'] = data['tweet'].apply(lambda x:" ".join (re.sub(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', "", x).split()))
data['tweet'] = data['tweet'].apply(lambda x:" ".join (re.sub('[^A-Z a-z 0-9-]+', "", x).split()))
data['tweet'] =data['tweet'].apply(lambda x:" ".join (re.sub('rt', "",x).split()))

In [7]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1445227479321382916,1445227479321382916,2021-10-05 08:50:56 India Standard Time,2021-10-05,08:50:56,530,413492760,asterzephyrisis,AntiDisplacementCoup,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1445227452788269057,1445100293805445122,2021-10-05 08:50:50 India Standard Time,2021-10-05,08:50:50,530,1279603083056680963,isis_pastel,ùêàùê¨ùê¢üçüüéÉ,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': '__dianap__', 'name': 'D I Œõ ...",NaN,NaN,NaN,NaN
2,1445226349514297346,1445226349514297346,2021-10-05 08:46:27 India Standard Time,2021-10-05,08:46:27,530,1430905165209432069,afghan_voice_,Voice of Afghanistan,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1445225572813135873,1445225572813135873,2021-10-05 08:43:22 India Standard Time,2021-10-05,08:43:22,530,911489138,isisdali_,isis ü§ç,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1445225278913929220,1445224054898704385,2021-10-05 08:42:12 India Standard Time,2021-10-05,08:42:12,530,17455999,isis_nocturne,Isis M. Nocturne,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Mediaite', 'name': 'Mediaite...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1445174357144195074,1445174357144195074,2021-10-05 05:19:51 India Standard Time,2021-10-05,05:19:51,530,2950033490,conan_idn,Damai Indonesiaku üáÆüá©üáµüá∏üáπüá∑üá≤üáæ,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
296,1445174145780695043,1445174145780695043,2021-10-05 05:19:01 India Standard Time,2021-10-05,05:19:01,530,299853737,claudia_isis,CLAUDIA,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
297,1445173910710980609,1444691764028248069,2021-10-05 05:18:05 India Standard Time,2021-10-05,05:18:05,530,1399887258409390084,isis_ebony,EbonyüíãIsis,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TXLinMelendez', 'name': 'LMe...",NaN,NaN,NaN,NaN
298,1445173731505152002,1445173731505152002,2021-10-05 05:17:22 India Standard Time,2021-10-05,05:17:22,530,732281142662074368,itsirisbitch_,Iris Isis,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
299,1445173729907167233,1445173729907167233,2021-10-05 05:17:21 India Standard Time,2021-10-05,05:17:21,530,941042441418887168,isisromero__,üßöüèº‚ú®,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [8]:
data['tweet']

0      this is the tweet no more shelters no more nav...
1                          dianap m hubiera ido a dormir
2      in the evening two key members of the khawarij...
3                                                 a fact
4      mediaite and if shes still not going to answer...
                             ...
295    pengasong radikal radikul melongo goblog karen...
296                                                 y si
297    txlinmelendez katibug817 realchattycat gabbyuc...
298    o caos foi instaurado to esperando o anticrist...
299    venir al crucero con mis amigxs siempre es bue...
Name: tweet, Length: 300, dtype: object

In [9]:
data.to_csv(r'final.csv',index=True)